
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #101010;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 14px;
}

#title {
  font-size: 24px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#editor {
    height: 400px;
    margin: 20px 20px 20px 0px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

/* Main content */
.main {
    margin-top: 50px; /* Add a top margin to avoid content overlay */
}

/* feedback content */
.feedback {
    margin-top: 100px; /* Add a top margin to avoid content overlay */
}

.feedback textarea {
    height: 200px;
    width: 450px;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}


/* tabs */
div.tab-frame input{ display:none;}
div.tab-frame label{ display:block; float:left;padding:5px 10px; cursor:pointer}
div.tab-frame input:checked + label{ background:black; color:white; cursor:default}
div.tab-frame div.tab{ display:none; padding:5px 10px;clear:left}

div.tab-frame input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
div.tab-frame input:nth-of-type(2):checked ~ .tab:nth-of-type(2),
div.tab-frame input:nth-of-type(3):checked ~ .tab:nth-of-type(3),
div.tab-frame input:nth-of-type(4):checked ~ .tab:nth-of-type(4),
div.tab-frame input:nth-of-type(5):checked ~ .tab:nth-of-type(5),
div.tab-frame input:nth-of-type(6):checked ~ .tab:nth-of-type(6){ display:block;}

#index_intro_text {
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding-top: 60px;
}

#searchbox_div {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
}

#searchbox {
	font-size: 18px;
  width: 400px;
}

/* The same font as for github */
body {
  background-color: #FAFAFA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 0;
}

footer {
  background-color: #FAFAFA;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: 0xFAFAFA;
}
