html,body { height:100%; }

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #101010;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 14px;
}

#title {
  font-size: 24px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Main content */
.main {
  height: 100%;
}

#file_list {
  width: 80%;
}

#editor {
    position: absolute;
    width: 50%;
    top: 180px;
    bottom: 100px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
}

#main_header {
    padding-left: 10px;
    position: relative;
    top: 50px;
    width: 100%;
}

#main_files {
    padding-left: 10px;
    width: 50%;
    position: fixed;
    top: 155px;
    height: 20px;
}

#main_footer {
    padding-left: 10px;
    width: 50%;
    position: fixed;
    bottom: 40px;
    height: 50px;
}


#example_title {
  font-size: 24px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #0000BB;
}

#compile {
  background-color: #00FF00;
  border: 4px solid #000;
  font-size: 16px;
  outline-style: none;
}

/* feedback content */
#feedback {
  display: block;
  float: right;
  height:auto;
  position:absolute;
  bottom:0;
  top:0;
  right:0;
  margin-top:65px;
  margin-bottom:40px;
  margin-right:5px;
  margin-left: 0px;
  width: 48%;
}

.feedback textarea {
  position: absolute;
  resize: none;
 right: 0;
 top: 0;
 bottom: 0;
 left: 0;
  margin-right:0px;
 margin-top: 30px;
 margin-bottom: 0px;
 margin-left: 0px;
 width: 100%;
     font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.feedback select {
  width: 80%;
}

#feedback0 {
  padding-top: 5px;
  position: relative;
  height: 48%;
}
#feedback1 {
  padding-top: 5px;
  position: relative;
  height: 48%;
}


/* tabs */
div.tab-frame0 input { display:none;}
div.tab-frame0 label { display:block; float:left;padding:5px 10px; cursor:pointer}
div.tab-frame0 input:checked + label { background:black; color:white; cursor:default}
div.tab-frame0 div.tab0 {
 display:none;
 padding:5px 10px;
 clear:left;
 position: absolute;
 width: 95%;
 margin-right:5px;
 right: 0;
 margin-top: 30px;
 top: 0;
 bottom: 0;
 margin-bottom: 0;
}

div.tab-frame0 input:nth-of-type(1):checked ~ .tab0:nth-of-type(1),
div.tab-frame0 input:nth-of-type(2):checked ~ .tab0:nth-of-type(2),
div.tab-frame0 input:nth-of-type(3):checked ~ .tab0:nth-of-type(3),
div.tab-frame0 input:nth-of-type(4):checked ~ .tab0:nth-of-type(4),
div.tab-frame0 input:nth-of-type(5):checked ~ .tab0:nth-of-type(5),
div.tab-frame0 input:nth-of-type(6):checked ~ .tab0:nth-of-type(6){ display:block;}

div.tab-frame1 input{ display:none;}
div.tab-frame1 label{ display:block; float:left;padding:5px 10px; cursor:pointer}
div.tab-frame1 input:checked + label{ background:black; color:white; cursor:default}
div.tab-frame1 div.tab1 {
  display:none;
  padding:5px 10px;
  clear:left;
  position: absolute;
  width: 95%;
  margin-right:5px;
  right: 0;
  margin-top: 30px;
  top: 0;
  bottom: 0;
  margin-bottom: 0;
}

div.tab-frame1 input:nth-of-type(1):checked ~ .tab1:nth-of-type(1),
div.tab-frame1 input:nth-of-type(2):checked ~ .tab1:nth-of-type(2),
div.tab-frame1 input:nth-of-type(3):checked ~ .tab1:nth-of-type(3),
div.tab-frame1 input:nth-of-type(4):checked ~ .tab1:nth-of-type(4),
div.tab-frame1 input:nth-of-type(5):checked ~ .tab1:nth-of-type(5),
div.tab-frame1 input:nth-of-type(6):checked ~ .tab1:nth-of-type(6){ display:block;}


/* index page */
#index_intro_text {
  text-align: center;
  font-size: 18px;
  width: 100%;
  padding-top: 60px;
  color: #0000BB;
}

#searchbox_div {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
}

#searchbox {
	font-size: 18px;
  width: 400px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    bottom: 0px;
    width: 700px;
    height: 80px;
    transition: 0.3s;
    padding: 10px 10px;
    position:relative;
    background-color: #FFFFFF;
}
.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}

/* On mouse-over, add a deeper shadow */
.card:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }


/* example.html */
#set_param {
  display: block;
}
#show_param {
  width: 200px;
  height: 20px;
}

/* The same font as for github */
body {
  background-color: #FAFAFA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 0;
}

footer {
  background-color: #FAFAFA;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: 0xFAFAFA;
}

.about_contribute {
  position: absolute;
  width: 800px;
  z-index: 15;
  left: 50%;
  margin: 100px 0 0 -420px;
  background-color: #FFFFFF;
  padding: 20px;
}
